<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/head %>
</head>
<% if (!user) {%>
  <div class="jumbotron" class="col-md-12">
  <div class="homepics">
    <body>
        <div>
          <%- include ../partials/form_homepage_login %>
        </div>
      </div>
  </div>

          <% } %>


<% if (user) {%>
          <header>
            <%- include ../partials/nav %>
          </header>
          <div class="container">
          <div class="starter-template">

          <h3>Welcome <%= user.email %></h3>
          <form method="post" action="users/logout?_method=DELETE">
            <button>logout</button>
          </form>
          <% } %>

        </div>
      </div><!-- /.container -->
      <%- include ../partials/footer %>
    </body>
</html>
