<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/head %>
</head>
<header>
  <%- include ../partials/nav %>
</header>
<% if (!user) {%>
  <div class="jumbotron" class="col-md-12">
  <div class="homepics">
    <body>
        <div>
          <%- include ../partials/form_homepage_login %>
        </div>
      </div>
  </div>
  <% } %>

<% if (user) {%>

  <%- include ./_profile %>
  <% } %>
        </div>
      </div><!-- /.container -->
      <%- include ../partials/footer %>
    </body>
</html>
